<%- include('header') -%>
	<form method="post" action="/savescore">
		<label for="name">Nafn</label>
		<input id="name" name="name" value="<%= nafn %>">
		<button>Save</button>
	</form>
<%- include('footer') -%>