canvas {
	margin: auto;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
}

p {
	text-align: center;
}

a {
	margin: auto;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

#togglesound {
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
}

.disable-dbl-tap-zoom {
	touch-action: manipulation;
}

#savescorebtn {
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
}

button {
	height: 40px;
}