canvas {
	margin: auto;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
}

p {
	text-align: center;
}

a {
	margin: auto;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.btncontainer {
	height: 60px;
    width: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
}

#togglesound {
	width: 10%;
	margin-top: auto;
    margin-bottom: auto;
	background: white;
}

.disable-dbl-tap-zoom {
}

#savescorebtn {
	width: 60%;
	margin-top: auto;
    margin-bottom: auto;
	background: white;
}

#startbtn {
	width: 20%;
	margin-top: auto;
    margin-bottom: auto;
	background: white;
}

button {
	height: 40px;
	border-radius: none;
}

#muteimg {
	width: 100%;
	height: 100%;
}

#leaderboardimg {
	width: 100%;
	height: 100%;
}

#leaderboardbtn {
	margin: auto;
	width: 72px;
	height: 50px;
	background: white;
	border-radius: none;
	border: none;
}